<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/siteOrganizer.css" />
        <link type="text/css" rel="stylesheet" href="~/css/lightSlider.css" />
        <link type="text/css" rel="stylesheet" href="~/css/eventCard.css" />
        <link type="text/css" rel="stylesheet" href="~/css/userProfile.css" />
        <link href='https://fonts.googleapis.com/css?family=Sedgwick+Ave' rel='stylesheet'>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/siteOrganizer.css" />
        <link type="text/css" rel="stylesheet" href="~/css/lightSlider.css" />
        <link type="text/css" rel="stylesheet" href="~/css/eventCard.css" />
        <link type="text/css" rel="stylesheet" href="~/css/userProfile.css" />
        <link href='https://fonts.googleapis.com/css?family=Sedgwick+Ave' rel='stylesheet'>
    </environment>
</head>
<body>
    <div class="kontejner" style="background-image: url('@ViewData["_layoutBackgroundImg-key"]'); @ViewData["_layoutBackgroundStyle-key"]">
        <nav class="navbar navbar-inverse navbar-fixed-top nav-bar" style="@ViewData["_LayoutNavbarBG"]">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="Organizer" asp-controller="Event" asp-action="Index" class="navbar-brand">Event Organizer</a>
                </div>
                <div class="navbar-collapse collapse nav-bar-item-right">
                    <ul class="nav navbar-nav nav-bar-item">
                        <li><a asp-area="Organizer" asp-controller="Event" asp-action="Index">Events</a></li>
                        <li><a asp-area="Organizer" asp-controller="Event" asp-action="Add">Add event</a></li>
                        <li><a asp-area="Organizer" asp-controller="Venue" asp-action="Index">Venues</a></li>
                        <li><a asp-area="Organizer" asp-controller="Venue" asp-action="Add">Add venue</a></li>
                        <li><a asp-area="Organizer" asp-controller="Wallet" asp-action="Index">Wallet</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <partial name="_CookieConsentPartial" />

        <div class="container-fluid body-content">
            @RenderBody()
        </div>


        <hr class="nema" />
        <div class="myfooter">

            <footer class="footie">
                <center><p>&copy; 2018 - Event Organizer</p></center>
            </footer>

        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
        <script src="~/js/lightslider.js"></script>
        <script src="~/js/jsFIT.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        
        <script src="~/js/lightslider.js"></script>
        <script src="~/js/jsFIT.js"></script>
    </environment>

    <script>
            //document.querySelector('.navbar').g
    </script>

    @RenderSection("Scripts", required: false)

    <partial name="_ValidationScriptsPartial" />

</body>
</html>
